@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,400;1,700&family=Ruwudu:wght@500&display=swap');


$texto: font-family 'Raleway', sans-serif;


//intro and email sign up background
$Dark-Blue-intro: hsl(217, 28%, 15%);
//main background
$Dark-Blue-main: hsl(218, 28%, 13%);
//footer background
$Dark-Blue-footer: hsl(216, 53%, 9%);
//testimonials background
$Dark-Blue-testimonials: hsl(219, 30%, 18%);

//inside call-to-action gradient
$Cyan: hsl(176, 68%, 64%);
//inside call-to-action gradient
$Blue: hsl(198, 60%, 50%);
//error
$Light-Red: hsl(0, 100%, 63%);

$White: hsl(0, 0%, 100%);