@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Open+Sans:wght@400;700&family=Ruwudu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,400;1,700&family=Ruwudu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: hsl(218, 28%, 13%);
  margin: 0% 5% 0% 5%;
  color: hsl(0, 0%, 100%);
}
body header {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
body header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 20rem;
}
body header ul li:hover {
  border-bottom: 1px white solid;
  cursor: pointer;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body main .first {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
body main .first h2 {
  margin-top: 5%;
  width: 34rem;
  text-align: center;
}
body main .first p {
  margin-top: 3%;
  width: 31rem;
  text-align: center;
}
body main .first button {
  margin-top: 3%;
  width: 15rem;
  height: 3rem;
  background-color: hsl(198, 60%, 50%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 25px;
}
body main .first button:hover {
  cursor: pointer;
  background-color: hsl(176, 68%, 64%);
}
body main .second {
  display: flex;
  flex-wrap: nowrap;
  width: 50rem;
  height: 47rem;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}
body main .second .container-one, body main .second .container-two {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  align-items: center;
}
body main .second .container-one .cards, body main .second .container-two .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
body main .second .container-one .cards h4, body main .second .container-two .cards h4 {
  margin-top: 5%;
}
body main .second .container-one .cards p, body main .second .container-two .cards p {
  margin-top: 3%;
  width: 17rem;
  text-align: center;
}
body main .third {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
body main .third .image {
  width: 30rem;
}
body main .third .text {
  display: flex;
  flex-direction: column;
  height: 17rem;
  width: 35rem;
  justify-content: space-between;
}
body main .third .text h2 {
  width: 15rem;
}
body main .third .text .sub-text {
  display: flex;
  justify-content: space-between;
  width: 11rem;
}
body main .third .text .sub-text:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
body main .fourth {
  display: flex;
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 8%;
  width: 100%;
  justify-content: space-around;
}
body main .fourth .container-aspas {
  width: 0;
}
body main .fourth .container-aspas .aspas {
  position: relative;
  left: 30px;
  top: -15%;
}
body main .fourth .card {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: hsl(219, 30%, 18%);
  width: 22%;
  max-width: 400px; /* Largura máxima para os cards */
  height: auto;
  align-items: flex-start;
  padding: 3rem;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  gap: 15%;
}
body main .fourth .card .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}
body main .fourth .card .info img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
body main .fifth {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  align-items: center;
}
body main .fifth .card {
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: 13rem;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  background-color: hsl(219, 30%, 18%);
  padding: 2rem;
  text-align: center;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
  top: 120px;
}
body main .fifth .card h2 {
  font-size: 2rem;
}
body main .fifth .card p {
  width: 82%;
}
body main .fifth .card .get {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
}
body main .fifth .card .get input {
  width: 60%;
  height: 2.5rem;
  color: black;
  border-radius: 25px;
  padding-left: 5%;
  border: none;
}
body main .fifth .card .get button {
  width: 11rem;
  height: 3rem;
  background-color: hsl(198, 60%, 50%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 25px;
}
body main .fifth .card .get button:hover {
  cursor: pointer;
  background-color: hsl(176, 68%, 64%);
}
body main .fifth .card span {
  font-size: 12px;
  color: hsl(0, 100%, 63%);
  text-align: start;
}
body footer {
  display: flex;
  background-color: hsl(216, 53%, 9%);
  padding: 4rem;
  width: 100%;
  height: 20rem;
  position: relative;
  left: -6%;
  align-items: center;
}/*# sourceMappingURL=style.css.map */